
/* Feather.css
An Ultra Lightweight CSS Framework*/





/*Basic Styles */


body{

	text-decoration: none;
}

}      
a:visited {
	text-decoration:none; ;
}  
li{
	list-style: none;
}



/* Flex Layout */


.grid{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.space12 {

    flex-grow:12;
}

.space9{

	flex-grow:10;
}
.space6{

	flex-grow: 7;
}

.space3{

    flex-grow: 4;
}
.space1{
	flex-grow: 1;
}